
body {
    padding: 0;
    margin: 0;
}

#mapid,html, body  {
  
  height: 10000px;
  width: 10000px;
}

/* {
  height: 5940px;
  width: 8410px;
}
 */

.popupimg{
  max-width: 300px;
  max-width: 200px;

}

#sidebar{
  max-height:800px;
  overflow: auto;
}

.my-label{
  font: 8px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding:0px;

}

// in css 
.easyPrintHolder .a1CssClass { 
  background-image: url(data:image/svg+xml;utf8;base64,PD9...go=);
}

// in css 
.easyPrintHolder .a3CssClass { 
  background-image: url(data:image/svg+xml;utf8;base64,PD9...go=);
}

