
body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100%;
}


.popupimg{
  max-width: 300px;
  max-width: 200px;

}

#sidebar{
  max-height:800px;
  overflow: auto;
}

.my-label{
  font: 4px "Helvetica Neue", Arial, Helvetica, sans-serif;

}
